name: "actionlint"

on:
  workflow_dispatch: # allows manual triggering
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '**.md'
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md'
  merge_group:

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: nixos/nix-installer-action@main
    - name: "actionlint"
      run: nix run -Lv --refresh --inputs-from .# nixpkgs#actionlint -- --ignore SC2002
